<div id="container-exp">
	<div id="trial_vid">
		<h1></h1>
		<p>
			<iframe width=1000 height=570 src="http://www.youtube.com/embed/ZG6PnaTvmSg?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
</p>
		<div id="stim"></div>
		<div id="query"></div>
		<div class="instructionsnav">
				<div class="row">
						<div class="col-xs-2">
						</div>
						<div class="col-xs-7">
						</div>
						<div class="col-xs-3">
								<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
										Continue <span class="glyphicon glyphicon-arrow-right"></span>
								</button>
						</div>
				</div>
	</div>
</div>
