<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
          Almost immediately after you begin fixating, a smaller, red dot will very quickly appear, then disappear somewhere on your screen.
        </p>

        <p>Continue fixating on the black dot. Do not move your eyes toward the red dot.</p>

        <p>
          <img src="static/images/screen_2.png" widith="1000" height="900">
        </p>

        <p>
          <img src="static/images/screen_1.png" widith="1000" height="900">
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> <a href="instruct-2.html">Previous</a>
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
