<div id="container-exp">
  <div id="trial_vid">
    <h1></h1>
<p><img src="static/images/alignment.png"></p>
    <div id="stim"></div>
    <div id="query"><p id="prompt">Please make sure the box above is centered in your screen and all 4 corners are visible.</p></div>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
  </div>
</div>
