<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

			<p>To begin, place your fingers on the "Y" and "N" keys and LEFT and RIGHT arrow keys</p>
	    <p>
		    When you begin the task, you will see a black dot in the center of the screen. At the top is a scoreboard indicated as "Score: " in white, and a multiplier indicated as "MP: " in green.
			</p>
			<p>
			 When you answer correctly, your score will be shown on the scoreboard. If you answer correcly 3, 4, or 5 times in a row, your score will be multiplied by the number of times in a row you answered correctly (e.g. answer correctly 3 times in a row = score multipled by 3).
	    </p>


			<p>
			<img src="static/images/screen_1.png" widith="1000" height="900">
	    <p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
									 Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
